
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Account Mangement System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           
          <!--<li class="nav-item">
                <a class="nav-link" routerLink="/" style="color: white;">Home</a>
            </li>-->
            
            
            <li class="nav-item">
              <a class="nav-link" routerLink="/" style="color: white; font-weight: 600;">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/transctions" style="color: white; font-weight: 600;">My Transactions</a>
            </li>
            
        </ul>
        <span>
           
        </span>
        <span>
            <a routerLink="/" style="color: white;"><i class="fa-solid fa-arrow-right-from-bracket" style="color: #ffffff;"></i> Logout</a>
        </span>
      </div>
    </div>
  </nav>

<!--This is Deposit-->
<div class="container">
    <h3>Deposit Money</h3>
    <form class="body" #depositform="ngForm" (ngSubmit)="OnSubmit(depositform)" id="form">
      <div class="form-group ag">
        <label for="from-account">Account Number:</label>
        <input #fromAccount="ngModel" [(ngModel)]="depositdetails.fromAccount" type="text" class="form-control" id="fromAccount" name="fromAccount" placeholder="Enter your Account Number"
           required title="Enter 10 digits Account Number" pattern="[0-9]{10}">

      </div>
      <!-- <div class="form-group ag">
        <label for="to-account">To Account:</label>
        <input #toAccount="ngModel" [(ngModel)]="depositdetails.toAccount" type="text" class="form-control" id="toAccount" name="toAccount" placeholder="XXXXX-XXXXX"
          required pattern="[0-9]{10}">
      </div> -->

      <!-- <div class="form-group">
        <label for="accountNumber">Account Number</label>
        <input #accountNumber="ngModel" [(ngModel)]="depositdetails.accountNumber" name="accountNumber" type="text" class="form-control" id="accountNumber" name="accountNumber"
          placeholder="XXXXX-XXXXX" required pattern="[0-9]{10}">
      </div> -->


      <!-- <div class="form-group">
        <label for="pin">Account Pin</label>
        <input #pin="ngModel" [(ngModel)]="depositdetails.pin" type="text" class="form-control" id="pin" name="pin" placeholder="XXX-XXX"  required
          title="Enter your 6 digits pin" pattern="[0-9]{6}">
      </div> -->
      <div class="form-group ag">
        <label for="amount">Amount:</label>
        <input #amount="ngModel" [(ngModel)]="depositdetails.amount" type="text" class="form-control" id="amount" name="amount" placeholder="Enter Amount"
        pattern="[0-9]{0,5}" title="Amount should be less than or equal to 99999"  required>
      </div>
      <div class="text-center">
      <button type="submit" class="btn btn-primary">Deposit Money</button>
      </div>
      <div class="mt-3 text-start">
        <a routerLink="/user"><i class="fa-solid fa-arrow-left fa-xl"></i></a>
      </div>
    </form>
  
  </div>
  
  <footer>Account Mangement System  &copy; 2023</footer>

  
    
  

