<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Account Mangement System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" style="color: white; font-weight: 600;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin-login" style="color: white; font-weight: 600;">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--Forgot Page-->

<div class="container d-flex justify-content-center align-items-center min-vh-100 min-vw-100 ">
  <div class="row border rounded-5 p-3 bg-white shadow box-area carddata">
    <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
      style="background: #2b7a78;">
      <div class="featured-image mb-3">
        <img src="./assets/images/fpass.jpg" class="img-fluid" style="width:320px;">
      </div>
      <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 500;"></p>
      <!--<large class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Please Reset Here..</large>-->
    </div>

    <div class="col-md-6 right-box">
      <div class="row align-items-center pass">
        <div class="header-text mb-4">
          <h2> Reset your Password</h2>

        </div>

        <form #forgotform="ngForm" (ngSubmit)="OnSubmit(forgotform)" id="form" >

          <div class="input-group mb-1">
            <label for="">Create Password</label>
            <input #password="ngModel" [(ngModel)]="forgotpass.password" name="password" class="form-control"
              type="password" placeholder="Create Password" required
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" id="password"
              title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or 12 characters">
            <div class="text-danger" *ngIf="password.dirty && password.errors?.['required']">
              Password is required
            </div>
            <div class="text-danger" *ngIf="password.dirty && password.errors?.['pattern']">
              Enter valid password
            </div>
          </div>

          <!-- <div class="input-group mb-4 d-flex justify-content-between">

        </div> -->


          <div class="input-group mb-3"></div>
          <label>Confirm Password</label>
          <input #confirmPassword="ngModel" [(ngModel)]="forgotpass.confirmpassword" name="confirmPassword" type="password"
            class="form-control" placeholder="Confirm-Password" required id="confirmPassword"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or 12 characters">
          <div class="text-danger" *ngIf="confirmPassword.dirty && confirmPassword.errors?.['required']">
            Confirm your password
          </div>
          <div class="text-danger" *ngIf="confirmPassword.dirty && confirmPassword.errors?.['pattern']">
            Enter valid password
          </div>
          <div class="loginbox">
            <input type="submit" value="Submit">

          </div>
        </form>
      </div>

    </div>

    <footer>AccountMangement App &copy; 2023</footer>