<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Account Mangement System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--<li class="nav-item">
                <a class="nav-link" routerLink="/" style="color: white;">Home</a>
            </li>-->
                <li class="nav-item">
                    <a class="nav-link" routerLink="#" style="color: white; font-weight: 600;">Home</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" routerLink="/transctions" style="color: white; font-weight: 600;">My
                        Transactions</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/admin" style="color: white; font-weight: 600;">My Details</a>
                  </li> -->

                  <li class="nav-item">
                    <a class="nav-link" routerLink="/customerrequest" style="color: white; font-weight: 600;">Other Services</a>
                  </li>

                <!-- <div class="dropdown">
                    <a class="btn btn-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Request
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="">Cheque Book</a></li>
                        <li><a class="dropdown-item" href="">Credit Card</a></li>
                        
                    </ul> 

                </div> -->
            </ul>

            <span>

            </span>
            <span>
                <a class="nav-link" routerLink="/" style="color: white;">Logout <i class="fa-solid fa-arrow-right-from-bracket"
                    style="color: #ffffff;"></i></a>
            </span>
        </div>
    </div>
</nav>

<!--User Dashboard-->
<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md-3 col-sm-6">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="./assets/images/deposit.jpg" alt="Card image cap" height="250"
                    width="100">
                <div class="card-body">
                    <h5 class="card-title">Deposit Money</h5>
                    <p class="card-text"></p>
                    <a routerLink="/deposit" class="btn btn-success">Deposit </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card" style="width:20rem">
                <img class="card-img-top" src="./assets/images/transfer.jpg" alt="Card image cap" height="250"
                    width="100">
                <div class="card-body">
                    <h5 class="card-title">Transfer Money</h5>
                    <p class="card-text"></p>
                    <a routerLink="/transfer" class="btn btn-success">Transfer</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="./assets/images/withdraw.jpg" alt="Card image cap" height="250"
                    width="100">
                <div class="card-body">
                    <h5 class="card-title">Withdraw Money</h5>
                    <p class="card-text"></p>
                    <a routerLink="/withdraw" class="btn btn-success">Withdraw</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="./assets/images/checkbal.png" alt="Card image cap" height="250"
                    width="100">
                <div class="card-body">
                    <h5 class="card-title">Check balance</h5>
                    <p class="card-text"></p>
                    <a routerLink="/checkbalance" class="btn btn-success">Check Balance</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>Account Mangement System  &copy; 2023</footer>
