<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">A M S</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           
          <!--<li class="nav-item">
                <a class="nav-link" routerLink="/" style="color: white;">Home</a>
            </li>-->
            
  
            <li class="nav-item">
              <a class="nav-link" routerLink="/" style="color: white; font-weight: 600;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/user" style="color: white; font-weight: 600;">My Services</a>
            </li>
            
            
        </ul>
        <span>
           
        </span>
        <span>
            <a routerLink="/" style="color: white;"><i class="fa-solid fa-arrow-right-from-bracket" style="color: #ffffff;"></i> Logout</a>
        </span>
      </div>
    </div>
</nav>

<!--<table class="table">
    <thead>
      <tr>
        <th scope="col">FromAccount</th>
        <th scope="col">ToAccount</th>
        <th scope="col">Pin</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let c of transferdetails" >
        <td scope="row">{{c.fromAccount}}</td>
        <td scope="row">{{c.toAccount}}</td>
        <td scope="row">{{c.pin}}</td>
        <td scope="row">{{c.amount}}</td>
        
      </tr>
    </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th scope="col">AccountNumber</th>
      <th scope="col">Pin</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let c of withdrawdetails" >
      
      <td scope="row">{{c.accountNumber}}</td>
      <td scope="row">{{c.pin}}</td>
      <td scope="row">{{c.amount}}</td>
      
    </tr>
  </tbody>
</table>-->
<!--<div class="scrollable-section">
  <div class="container">
    <h2>Transfer Details:</h2>
    <div class="row" *ngFor="let transfer of transferdetails">
      <div class="col-3"><strong>From Account:</strong> {{transfer.fromAccount}}</div>
      <div class="col-3"><strong>To Account:</strong> {{transfer.toAccount}}</div>
      
      <div class="col-3"><strong>Amount:</strong> {{transfer.amount}}</div>
    </div>
  
    <hr>
  
    <h2>Withdraw Details:</h2>
    <div class="row" *ngFor="let withdraw of withdrawdetails">
      <div class="col-3"><strong>AccountNumber:</strong> {{withdraw.accountNumber}}</div>
      
      <div class="col-3"><strong>Amount:</strong> {{withdraw.amount}}</div>
    </div>
  

    <hr>
  
    <h2>Deposit Details:</h2>
    <div class="row" *ngFor="let deposit of depositdetails">
      <div class="col-3"><strong>From Account:</strong> {{deposit.fromAccount}}</div>
      <div class="col-3"><strong>To Account:</strong> {{deposit.toAccount}}</div>
      
      <div class="col-3"><strong>Amount:</strong> {{deposit.amount}}</div>
    </div>
  </div>
</div>-->

<div class="scrollable-section">
  <div class="container">
    <h2><i class="fas fa-exchange-alt"></i> Transfer Details:</h2>
    <div class="row" *ngFor="let transfer of transferdetails">
      <div class="col-3"><strong>From Account:</strong> {{transfer.fromAccount}}</div>
      <div class="col-3"><strong>To Account:</strong> {{transfer.toAccount}}</div>
      <div class="col-3"><strong>Amount:</strong> {{transfer.amount}}</div>
      <div class="col-3"><strong>Balance:</strong></div>
    </div>
    <hr>
    <h2><i class="fas fa-hand-holding-usd"></i> Withdraw Details:</h2>
    <div class="row" *ngFor="let withdraw of withdrawdetails">
      <div class="col-3"><strong>Account Number:</strong> {{withdraw.accountNumber}}</div>
      <div class="col-3"><strong>Amount:</strong> {{withdraw.amount}}</div>
      <div class="col-3"><strong>Balance:</strong></div>
    </div>
    <hr>
    <h2><i class="fas fa-coins"></i> Deposit Details:</h2>
    <div class="row" *ngFor="let deposit of depositdetails">
      <div class="col-3"><strong>From Account:</strong> {{deposit.fromAccount}}</div>
      <div class="col-3"><strong>To Account:</strong> {{deposit.toAccount}}</div>
      <div class="col-3"><strong>Amount:</strong> {{deposit.amount}}</div>
      <div class="col-3"><strong>Balance:</strong></div>
    </div>
  </div>
</div>


<!--Footer of Transctions-->
<footer>AccountMangement App &copy; 2023</footer>