<!--User Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Account Mangement System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" style="color: white; font-weight: 600;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user-login" style="color: white; font-weight: 600;">User</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--User Register-->
<div class="row">
    <div class="col text-center p-2 mb-3 bg-light">
        <span class="fs-3">Create New Account</span>
    </div>
</div>

<div class="container">
    <div class="form-group">
        <!-- 1st col -->
        <form class="body" #userform="ngForm" (ngSubmit)="OnSubmit(userform)" id="form">
            <div class="modal-body row">
                <div class="col-md-6">
                    <!-- 1st col -->
                    <div class="row">
                        <div class="col mt-2">
                            <label>First Name</label>
                            <input #firstName="ngModel" [(ngModel)]="userdetails.firstName" name="firstName"
                                class="form-control" type="text" placeholder="First Name" id="firstname" required
                                pattern="[A-Za-z]{3,10}">
                                <div class="text-danger" *ngIf="firstName.dirty && firstName.errors?.['required']">
                                    First Name is required
                                </div>
                                <div class="text-danger" *ngIf="firstName.dirty && firstName.errors?.['pattern']">
                                    Invalid First Name
                                </div>

                        </div>
                        <div class="class mt-2">
                            <label>Last Name</label>
                            <input #lastName="ngModel" [(ngModel)]="userdetails.lastName" name="lastName"
                                class="form-control" type="text" placeholder="Last Name" id="lastname" required
                                pattern="[A-Za-z ]{3,10}">
                                <div class="text-danger" *ngIf="lastName.dirty && lastName.errors?.['required']">
                                    Last Name is required
                                </div>
                                <div class="text-danger" *ngIf="lastName.dirty && lastName.errors?.['pattern']">
                                    Invalid Last Name
                                </div>
                        </div>
                    </div>

                    <div class="mt-2">
                        <label>Date of Birth</label>
                        <input #dateOfBirth="ngModel" [(ngModel)]="userdetails.dateOfBirth" name="dateOfBirth"
                            class="form-control" type="date" placeholder="MM/DD/YYYY" required id="dob">
                            <div class="text-danger" *ngIf="dateOfBirth.dirty && dateOfBirth.errors?.['required']">
                               Date of Birth is required
                            </div>
                    </div>
                    <div class="row">
                        <div class="col mt-2">
                            <label>Email</label>
                            <input #email="ngModel" [(ngModel)]="userdetails.email" name="email" class="form-control"
                                type="email" id="email" placeholder="Email Address" required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,}$">

                            <div class="text-danger" *ngIf="email.dirty && email.errors?.['required']">
                                Email is required
                            </div>
                            <div class="text-danger" *ngIf="email.dirty && email.errors?.['pattern']">
                                Enter an valid email
                            </div>

                        </div>
                        <div class="col mt-2">
                            <label>Phone</label>
                            <input #phone="ngModel" [(ngModel)]="userdetails.phone" name="phone" class="form-control"
                                type="tel" id="phone" placeholder="Please Enter Phone" required pattern="[7-9][0-9]{9}">
                                
                                <div class="text-danger" *ngIf="phone.dirty && phone.errors?.['required']">
                                    Phone Number is required
                                </div>
                                <div class="text-danger" *ngIf="phone.dirty && phone.errors?.['pattern']">
                                    Enter an valid Phone Number
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-2">
                            <label>Gender</label>
                            <select #gender="ngModel" [(ngModel)]="userdetails.gender" class="form-control"
                                name="gender" id="gender" required>
                                <option value="">--Please choose an option--</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                            <div class="text-danger" *ngIf="gender.dirty && gender.errors?.['required']">
                                Gender is required
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- 2nd col -->
                    <div class="row">
                        <div class="col mt-2">
                            <label for="">Create Password</label>
                            <input #password="ngModel" [(ngModel)]="userdetails.password" name="password"
                                class="form-control" type="password" placeholder="Create Password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                                id="password"
                                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or 12 characters">
                                <div class="text-danger" *ngIf="password.dirty && password.errors?.['required']">
                                    Password is required
                                </div>
                                <div class="text-danger" *ngIf="password.dirty && password.errors?.['pattern']">
                                   Enter valid password
                                </div>


                        </div>
                        <div class="col mt-2">
                            <label>Confirm Password</label>
                            <input #confirmPassword="ngModel" [(ngModel)]="userdetails.confirmPassword"
                                name="confirmPassword" type="password" class="form-control"
                                placeholder="Confirm-Password" required id="confirmPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or 12 characters">
                                <div class="text-danger" *ngIf="confirmPassword.dirty && confirmPassword.errors?.['required']">
                                    Confirm your password
                                </div>
                                <div class="text-danger" *ngIf="confirmPassword.dirty && confirmPassword.errors?.['pattern']">
                                   Enter valid password
                                </div>

                        </div>
                    </div>

                    <label class="mt-2">Address</label>
                    <textarea #address="ngModel" [(ngModel)]="userdetails.address" name="address" class="form-control"
                        id="addr" name="addr" rows="1" cols="50" required></textarea>
                        <div class="text-danger" *ngIf="address.dirty && address.errors?.['required']">
                            Address is required and Enter valid  Address
                        </div>

                    <div class="row">
                        <div class="col mt-2">
                            <label>Account Number</label>
                            <input #accountnumber="ngModel" [(ngModel)]="userdetails.accountnumber" name="accountnumber"
                                class="form-control" type="text" id="accountnumber"
                                placeholder="Please Enter Account Number " required pattern="[0-9]{10}">
                                <div class="text-danger" *ngIf="accountnumber.dirty && accountnumber.errors?.['required']">
                                    Account Number is required
                                </div>
                                <div class="text-danger" *ngIf="accountnumber.dirty && accountnumber.errors?.['pattern']">
                                   Enter valid Account Number
                                </div>

                        </div>

                        <div class="col mt-2">
                            <label>IFSC Code</label>
                            <input #ifsc="ngModel" [(ngModel)]="userdetails.ifsc" name="ifsc" class="form-control"
                                type="text" id="ifsc" placeholder="Please Enter IFSC" required pattern="[0-9]{5}[A-Z]{5}">
                                <div class="text-danger" *ngIf="ifsc.dirty && ifsc.errors?.['required']">
                                    IFSC code is required
                                </div>
                                <div class="text-danger" *ngIf="ifsc.dirty && ifsc.errors?.['pattern']">
                                   Enter valid IFSC
                                </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mt-2">
                            <label>Bank</label>
                            <select #bank="ngModel" [(ngModel)]="userdetails.bank" class="form-control" name="bank"
                                required>
                                <option value="">--Please choose an option--</option>
                                <option>HDFC</option>
                                <option>SBI</option>
                                <option>AXIS</option>
                                <option>DBS</option>
                            </select>
                            <div class="text-danger" *ngIf="bank.dirty && bank.errors?.['required']">
                                Please choose any one of the Bank
                            </div>
                        </div>
                        <div class="class mt-2">
                            <label>Please specify the type of account you want to open</label>
                            <select #accountType="ngModel" [(ngModel)]="userdetails.accountType" class="form-control"
                                name="accountType" id="accountType" required>
                                <option value="">--Please choose an option--</option>
                                <option value="Savings Account">Savings Account</option>
                                <option value="Salary Account">Salary Account</option>
                                <option value="FixedDeposit">Fixed Deposit Account</option>
                                <option value="CurrentaAcc">Current Account</option>
                            </select>
                            <div class="text-danger" *ngIf="accountType.dirty && accountType.errors?.['required']">
                                Please specify Account Type
                            </div>

                        </div>
                    </div>
                </div>


            </div>
            <input class="mt-3" type="checkbox" required><label>I agree to the terms of service.</label>

            <div class="text-center">
                <button class="btn btn-success mt-2">Submit</button>

            </div>
        </form>
    </div>
</div>

<footer>Account Mangement System &copy; 2023</footer>